:root {
  --light: rgb(255, 255, 255);
  --darkerblue: rgb(13, 40, 81);
  --darkblue: rgb(15, 54, 113, 0.9);
  --gold: rgb(233, 204, 74);
  --yellow: rgb(241, 210, 34);
  --grey: rgb(218, 218, 218);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 62.5%;
  max-width: 100%;
  max-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--darkerblue);
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Rubik", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  padding-bottom: 20vh;
  transition: 0.3s ease-in;
}
h2 {
  font-size: 1.6rem;
  color: var(--darkblue);
}
h3 {
  font-size: 1rem;
}
.tag,
.spe {
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
  font-size: 1.2rem;
  outline-color: var(--darkblue);
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Rubik", sans-serif;
}
section {
  border: 1px solid var(--gold);
}
button {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Rubik", sans-serif;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  color: rgb(15, 54, 113, 0.5);
}
button:hover {
  cursor: pointer;
  color: var(--darkblue);
}
.top {
  display: flex;
  width: 85%;
}
.top .left {
  width: 70%;
  height: 100%;
}
.top .right {
  width: 30%;
}
.bottom {
  width: 85%;
}
* {
  /* border: 1px solid grey; */
}
header {
  display: flex;
  padding: 1% 3%;
  background-color: var(--light);
  position: fixed;
  width: 100%;
  height: 16vh;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 12px var(--darkblue);
  transition: 0.3s ease-in;
  animation: fade-in 0.6s ease-in;
}
.logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.3s ease-in;
}
.logo .main {
  width: 25vw;
  transition: 0.3s ease-in;
}
.badge {
  width: 8vw;
  padding: 0 1%;
  transition: 0.3s ease-in;
}
.filters {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
  padding-left: 3%;
  transition: 0.3s ease-in;
}
.filters .tag,
.filters .spe {
  font-weight: 500;
  width: 12vw;
  margin: 0 1.5%;
  padding: 2%;
  border-radius: 9px;
}
/* Status -==--=-=-==--==-=-=-=--=-==-=-=- */
.status {
  background-color: var(--light);
  border-radius: 9px;
  margin: 2%;
  display: flex;
  height: 28vh;
}
.status .left {
  width: 60%;
  padding: 2% 3%;
}
.status .left h2 {
  margin-top: 0;
}
.status .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 2%;
}
.status .right h4 {
  margin: 0;
  font-size: 1rem;
  color: var(--darkblue);
}
.status .metrics {
  color: var(--gold);
  height: fit-content;
}
.status .metrics h3 {
  margin: 0;
  padding: 0 2%;
  font-size: 1.1rem;
  font-weight: bold;
}
.doughnut {
  width: 160px;
  height: 160px;
}
.metric {
  display: flex;
}
/* Performance -==--=-=-==--==-=-=-=--=-==-=-=- */
.performance {
  background-color: var(--light);
  border-radius: 9px;
  margin: 2%;
  display: flex;
  height: 45vh;
}
.performance .left h2 {
  margin-top: 0;
}
.performance .left {
  width: 25%;
  padding: 2% 3%;
  height: fit-content;
}
.performance .metrics h3 {
  margin: 6% 0;
  padding: 0 2%;
  color: var(--gold);
  font-size: 1.4rem;
  font-weight: bold;
}
.performance .metric {
  flex-direction: column;
}
.performance .metric #dark {
  margin: 0;
}
.performance .right {
  width: 75%;
}
.performance .period {
  display: flex;
  justify-content: center;
  padding: 3%;
  margin-top: 4%;
}
.performance .period button {
  margin: 0 1.5%;
  padding: 1.5% 3%;
}
.bar-chart {
  padding-right: 5%;
}
/* Quarterly -==--=-=-==--==-=-=-=--=-==-=-=- */
.quarterly {
  background-color: var(--light);
  border-radius: 9px;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75.5vh;
}
.quarterly .period {
  display: flex;
  justify-content: center;
  margin: 6%;
}
.quarterly .period button {
  padding: 2% 3%;
  font-size: 1rem;
  text-align: center;
  margin: 3%;
}
#highlight {
  /* background-color: rgba(255, 244, 184, 0.7); */
  border: 1px solid var(--darkblue);
  color: var(--darkblue);
}
.meter {
  width: 200px;
  height: 150px;
  text-align: center;
}
.meter h4 {
  margin: 0;
}
/* Issues -==--=-=-==--==-=-=-=--=-==-=-=- */
.issues {
  background-color: var(--light);
  border-radius: 9px;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 42vh;
}
.issues .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.issues .header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42%;
}
.right .metric {
  display: flex;
  justify-content: center;
  width: 100%;
}
.issues .header h2 {
  margin: 0.7% 2%;
}
.issues .header h4 {
  color: var(--gold);
  font-size: 0.8rem;
  margin: 3%;
}
.issues .buttons {
  width: 100%;
  text-align: left;
  margin-left: 3%;
}
.grid {
  width: 100%;
  margin-left: 3%;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  color: var(--darkblue);
}
.grid h4 {
  font-size: 1rem;
  margin: 3% 0;
  border-bottom: 1px solid var(--grey);
}
.grid-items {
  width: 100%;
  margin-left: 3%;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  color: var(--darkblue);
}
.grid-items p {
  margin: 0;
  border-bottom: 1px solid var(--grey);
  height: 20px;
}
.issues .header select {
  padding: 1%;
  font-weight: bold;
  width: 16vw;
  margin: 1.5%;
  padding: 1.5%;
  border-radius: 9px;
}
/* Scroll -=-==-=-=-=--=-=-=-==--=-=-=-= */
.scrolled-header {
  height: 6vh;
}
.scrolled-main {
  transform: scale(0.8) translateX(20%);
  transition: 0.2s ease-in;
}
.scrolled-badge {
  transform: scale(0.5);
  transition: 0.2s ease-in-out;
}
.scrolled-landing {
  margin-top: 6vh;
}
.scrolled-input {
}

/* Global -==--==-=-=--=-= */
#dark {
  color: var(--darkblue);
}

@media (max-width: 1440px) {
  .status {
    height: 26vh;
  }
  .performance {
    height: 36vh;
  }
  .quarterly {
    height: 64vh;
  }
  .issues {
    height: 36vh;
  }
}
@media (max-width: 1300px) {
  .status {
    height: 27vh;
  }
  .performance {
    height: 37vh;
  }
  .quarterly {
    height: 66vh;
  }
  .issues {
    height: 38vh;
  }
}
@media (max-width: 1245px) {
  .status {
    height: 23vh;
  }
  .performance {
    height: 29vh;
  }
  .quarterly {
    height: 53.5vh;
  }
  .issues {
    height: 30vh;
  }
}
